/* 郵便番号配置（年賀はがき枠に合わせた固定位置） */

/* 郵便番号フォント */
.addr-to-zip, .addr-from-zip {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

/* ==================== */
/* 宛先郵便番号         */
/* ==================== */
/* SVG枠: 各枠 width=5.7mm, height=8mm, top=12mm */
.addr-to-zip {
  position: absolute;
  top: 12mm;
  height: 8mm;
  line-height: 8mm;
}

.addr-to-zip .zip-digit {
  position: absolute;
  font-size: 15pt;
  width: 5.7mm;
  text-align: center;
}

/* 郵便番号3桁 */
.addr-to-zip .zip-1 { left: 44.4mm; }
.addr-to-zip .zip-2 { left: 51.7mm; }
.addr-to-zip .zip-3 { left: 58.8mm; }

/* 郵便番号4桁 */
.addr-to-zip .zip-4 { left: 66.0mm; }
.addr-to-zip .zip-5 { left: 72.9mm; }
.addr-to-zip .zip-6 { left: 79.8mm; }
.addr-to-zip .zip-7 { left: 86.7mm; }

/* ==================== */
/* 差出人郵便番号       */
/* ==================== */
.addr-from-zip {
  position: absolute;
}

.addr-from-zip .zip-digit {
  position: absolute;
  font-size: 12pt;
  top: 122.5mm;
  width: 4mm;
  line-height: 6.8mm;
  text-align: center;
}

/* 郵便番号3桁 */
.addr-from-zip .zip-1 { left: 6.5mm; }
.addr-from-zip .zip-2 { left: 10.5mm; }
.addr-from-zip .zip-3 { left: 14.5mm; }

/* 郵便番号4桁 */
.addr-from-zip .zip-4 { left: 19.5mm; }
.addr-from-zip .zip-5 { left: 23.5mm; }
.addr-from-zip .zip-6 { left: 27.5mm; }
.addr-from-zip .zip-7 { left: 31.5mm; }
